@model RESTAURANT_CONMVC_DONET_BOLANOS_LUCIANA.Models.Plato
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Nuevo Plato</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>
<body>
    <div class="header"><div class="header-title">Nuevo Plato</div></div>
    <div class="container">
        <div class="main-content">
            <h1>Registrar Plato</h1>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.Partial("_Form", Model)
                <div class="button-container">
                    <button type="submit">Guardar</button>
                    <a class="app-button" href="@Url.Action("Index")">Volver</a>
                </div>
            }
        </div>
    </div>
</body>
</html>
